<div class="flex">
  <div class="w-col flex-no-shrink min-h-screen border-r border-grey-lighter px-4 pt-4">
    <h1 class='mt-3 mb-8'>Lecture</h1>
    <p class='text-sm leading-normal'>Add meta.</p>

    <div class="mt-8 mb-8">
      {{#if findEpisodes.isRunning}}
        <p class='mt-4'>{{fa-icon 'spinner' spin=true}} Loading...</p>
      {{/if}}
    </div>
  </div>

  <div class="flex-grow h-screen overflow-y-scroll">
    <div class="p-6">
      <div class="mx-auto">

        <div class="mt-6">
          <div class="flex justify-between items-center">
            <h2>Episodes</h2>

            <div class="text-xs text-grey text-right">
              {{#if findEpisodes.lastSuccessful.value}}
                Generated at
                {{if findEpisodes.lastSuccessful.value.meta.generatedAt
                  findEpisodes.lastSuccessful.value.meta.generatedAt
                  "--"}}
              {{/if}}
            </div>
          </div>

          <div class="mt-4">
            {{episode-list episodes=findEpisodes.lastSuccessful.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
