<div class="flex">
  <div class="w-col flex-no-shrink min-h-screen p-4 border-r bg-grey-lightest">
    <p class='mt-3 text-xl'>
      {{#link-to 'application' class='text-black no-underline'}}
        Advanced Mirage
      {{/link-to}}
    </p>
    <ul class='list-reset mt-12'>
      <li class='mt-3'>
        {{#link-to 'exercise-1' class='text-black hover:text-grey no-underline' activeClass='text-grey'}}
          Exercise 1
        {{/link-to}}
      </li>
      <li class='mt-3'>
        {{#link-to 'exercise-final' class='text-black hover:text-grey no-underline' activeClass='text-grey'}}
          Exercise final
        {{/link-to}}
      </li>
    </ul>
  </div>
  <div class="flex-grow font-sans min-h-screen">
    {{outlet}}
  </div>
</div>
