{{foo-bar}}

<div class="flex">
  <div class="w-col flex-no-shrink min-h-screen p-4 border-r bg-grey-lightest">
    <p class='mt-3 text-xl'>
      {{#link-to 'application' class='text-black no-underline'}}
        Advanced Mirage
      {{/link-to}}
    </p>
    <ul class='list-reset mt-12'>
      {{#nav-section}}
        Querying
      {{/nav-section}}
      {{#nav-link '1-exercise'}}
        1: Exercise
      {{/nav-link}}
      {{#nav-link '2-exercise'}}
        2: Exercise
      {{/nav-link}}
      {{#nav-link '3-exercise'}}
        3: Exercise
      {{/nav-link}}
      {{#nav-link '4-lecture'}}
        4: Lecture: recordsFor
      {{/nav-link}}
      {{#nav-link '5-lecture'}}
        5: Lecture
      {{/nav-link}}
      {{#nav-link '6-exercise'}}
        6: Exercise
      {{/nav-link}}
      {{#nav-link '7-lecture'}}
        7: Lecture
      {{/nav-link}}
      {{#nav-link '8-exercise'}}
        8: Exercise
      {{/nav-link}}
      {{#nav-link '9-exercise'}}
        9: Exercise
      {{/nav-link}}
      {{#nav-link 'exercise-final'}}
        Exercise final
      {{/nav-link}}
    </ul>
  </div>
  <div class="flex-grow font-sans min-h-screen">
    {{outlet}}

    {{!-- {{1-exercise}} --}}
  </div>
</div>
