<div class="flex">
  <div class="w-col flex-no-shrink min-h-screen p-4 border-r bg-grey-lightest">
    <p class='mt-3 text-xl'>
      {{#link-to 'application' class='text-black no-underline'}}
        Advanced Mirage
      {{/link-to}}
    </p>
    <ul class='list-reset mt-12'>
      {{#nav-link 'exercise-1'}}
        Exercise 1
      {{/nav-link}}
      {{#nav-link 'exercise-2'}}
        Exercise 2
      {{/nav-link}}
      {{#nav-link 'exercise-3'}}
        Exercise 3
      {{/nav-link}}
      {{#nav-link 'exercise-final'}}
        Exercise final
      {{/nav-link}}
    </ul>
  </div>
  <div class="flex-grow font-sans min-h-screen">
    {{outlet}}
  </div>
</div>
